
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;

    input[type="text"] {
        padding: 5px;
        width: 100%;
        font-size: 2em;
    }

    input[type="submit"] {
        cursor: pointer;
        margin-top: 15px;
        color: #fff;
        background-color: #646165;
        border: 0;
        font-size: 1.1em;
        padding: 10px 0;
        width: 30%;
    }
    .error-text {
        color: #f7261d;
    }
}
