:root {
    --input-items-size: 70px;
}

.play-center {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    .hangman-board {
        margin: 0 auto;
        height: 300px;
        width: 450px;
        padding: 10px 0;
        box-sizing: border-box;
        @media only screen and (max-width: 768px) {
            max-width: 100%;
            width: 250px;
            height: 180px;
        }

        #hangman-canvas {
            height: 100%;
            width: 100%;
            background-color: #0b0b0b;
            border: #efefef;
            text-align: center;
        }
    }

    .play-grid {
        display: flex;
        justify-content: center;

        .play-cell {
            height: 50px;
            width: 50px;
            caret-color: transparent;
            line-height: 1;
            margin-left: 5px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .input-block {
        text-align: center;

        .input-cell {
            margin: 20px auto 0;
            height: var(--input-items-size);
            width: var(--input-items-size);
            display: block;
        }

        .game-button {
            width: var(--input-items-size);
        }
    }

    .input-cell, .play-cell {
        text-align: center;
        border: 3px solid black;
        font-size: 30pt;
        text-transform: uppercase;
    }

    .guessed-letters {
        color: #c51b1f;
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        text-transform: capitalize;
        font-size: 20pt;

        li {
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }

        .letter-placeholder {
            margin-right: 0;
            color: transparent;
        }
    }
}

