.words {
    padding: 0 20px;
    position: relative;

    .admin-link {
        font-size: 35pt;
        text-decoration: none;
    }

    .first-letter {
        font-family: 'IBM Plex Sans', sans-serif;
        text-transform: uppercase;
        font-size: 30pt;
        background-color: #fff;
        margin-bottom: 10px;
        width: 50px;
        padding: 10px;
        display: inline-block;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .show-all-link {
        font-size: 2em;
        cursor: pointer;
        margin: 10px 0;

        &:hover {
            opacity: 0.5;
        }
    }

    .word-icon {
        font-size: 10pt;
    }

    .word {
        text-transform: uppercase;
        display: block;
        font-size: 20pt;
        color: #AC3B61;
        padding-left: 50px;
        word-break: break-all;
    }

    .delete-warning {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: rgba(000, 000, 000, 0.7);
        top: 0;
        left: 0;

        .delete-modal {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            @media (max-width: 480px) {
                width: 100%;
            }
            border: 1px solid #000;
            border-radius: 5px;
            background-color: #fff;
            box-sizing: border-box;
            text-align: center;
            padding: 20px;
            text-transform: capitalize;

            h1 {
                margin-bottom: 20px;
            }

            .delete-confirmation {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline;
                    border: 1px dashed black;
                    padding: 5px 10px;
                    background-color: #ffe8de;
                    cursor: pointer;

                    &:last-child {
                        margin-left: 20px;
                    }
                }
            }

            .delete-error {
                margin-top: 10px;
                color: #ef3e28;
            }
        }
    }
}

.no-scroll {
    overflow-y: hidden;
}
